<!doctype html>
<html>
  <head>
    <%= partial :head %>
  </head>
  <body>
    <%= partial :navbar %>
    <%= partial :jumbotron %>

    <%= yield %>

    <%= partial :footer %>
    <%= partial :end_of_html %>
  </body>
</html>
