!!!
%html
  %head
    = partial :'partials/head'
  %body
    = partial :'partials/navbar'

    = partial :'partials/modals'

    = yield

    = partial :'partials/footer'
    = partial :'partials/end_of_html'
