.container
  .row
    .pane.panel-primary
      .panel-heading
        %h1.text-center= @team_title
      .panel-body
        %h3.text-center= @team_description

      %hr

      .row
        .col-md-4
          %table.table
            %thead
              %tr
                %th Members
                %form{id: "join-team", action: "/api/teams/join", method: "post"}
                  %input{type: "hidden", name: "id", value: @team_id }
                  - unless team_member?(@team_id)
                    %input.btn.btn-default.pull-right{type: "submit", value: "Join the team"}
            %tbody
              - @team_users.each do |user|
                %tr
                  %td= "#{user["fname"]} #{user["lname"]} "
        .col-md-8
          .well.well-lg
            - if team_member?(@team_id)
              %button.btn.btn-success.pull-right{id: "idea", type: "button"} I have an idea!!
            %h2.text-center Idea Box
            %table.table
              %tr
                %th Name
                %th Idea
                %th Description
                %th Upvote
              - @ideas.each do |idea|
                - if idea["team_id"] == @team_id
                  %tr
                    %td.text-left
                      - @users.each do |user|
                        = user["fname"] if user["id"] == idea["user_id"]
                    %td.text-left= idea["title"]
                    %td.text-left= idea["description"]
                    %td.text-left= idea["upvote"]
